body {
 margin: 0;
 font-family: Arial;
 background: #eef4fb;
}

/* الهيدر */
header {
background: #0a2a5e;
 color: white;
padding: 19px;
text-align: center;
font-size: 22px;
}

/* الهيرو */
.hero {
  height: 100vh; 
  background-size: cover;       
  background-position: center;  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

/* النص داخل الصورة */
.hero-text {
  background: rgba(0, 0, 0, 0.4); /
  padding: 20px 30px;
  border-radius: 15px;
}

.hero-text h1 {
  font-size: 40px;
}

.hero-text h2 {
  margin: 10px 0;
  color: #60a5fa;
}

/* الكروسات */
.courses {
display: grid;
grid-template-columns: 1fr 1fr;
 gap: 20px;
padding: 20px;
}
.course {
 display: flex;
background: white;
padding: 15px;
border-radius: 15px;
gap: 15px;
align-items: center;
}
.course img {
width: 120px;
}

/* التفاصيل */
.details-container {
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 20px;
padding: 20px;
}
.details-card {
background: white;
padding: 15px;
border-radius: 15px;
text-align: right;
}
.details-card iframe {
width: 100%;
height: 150px;
margin: 10px 0;
}
.info span {
background: #dbeafe;
padding: 5px 10px;
margin: 3px;
 display: inline-block;
border-radius: 8px;
}
.details-card a {
display: block;
background: #0a2a5e;
color: white;
text-align: center;
padding: 10px;
border-radius: 8px;
text-decoration: none;
margin-top: 10px;
}
/* صفحة التفاصيل */
.page {
max-width: 900px;
margin: 40px auto;
background: #f8fbff;
padding: 20px;
}
.top-title {
background: #0a2a5e;
color: white;
padding: 10px;
text-align: center;
border-radius: 8px 8px 0 0;
}
.card-detail {
background: white;
padding: 20px;
 border-radius: 0 0 10px 10px;
box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.info span {
background: #e6f0ff;
padding: 5px 10px;
border-radius: 8px;
margin-left: 5px;
display: inline-block;
}

iframe {
width: 100%;
height: 250px;
border-radius: 10px;
margin: 15px 0;
}
.btn-box {
border: 1px solid #0a2a5e;
padding: 10px;
text-align: center;
margin-top: 10px;
border-radius: 8px;
color: #0a2a5e;
text-decoration: none;
display: block;
}
.back {
background: #0a2a5e;
color: white;
}